{% extends 'base.html' %}

{% block title %}Class List{% endblock %}

{% block content %}
    <h1>Class List</h1>
    <ul class="class-list">
        {% for classroom in classes %}
            <li>
                <a href="{% url 'student_list' classroom.id %}" class="class-link">{{ classroom.name }}</a>
                | <a href="{% url 'class_timetable' classroom.id %}" class="btn-timetable">Timetable</a>
                | <a href="{% url 'chat_room' classroom.id %}">Chat</a>
            </li>
        {% empty %}
            <p>No classes available.</p>
        {% endfor %}
    </ul>
{% endblock %}